DJANGO_SETTINGS_MODULE=config.settings.development
DJANGO_SECRET_KEY=change-this-in-your-local-environment
DJANGO_ALLOWED_HOSTS=localhost,127.0.0.1

POSTGRES_DB=acervo
POSTGRES_USER=acervo
POSTGRES_PASSWORD=change-this-password
POSTGRES_HOST=localhost
POSTGRES_PORT=5432
